.shadow {
    box-shadow: 0 0 15px 15px rgb(133, 1, 25, 0.6);
}

.section {
    height: 100vh;
    background: #000;
    color: #fff;
}

.title-section {
    color: #fff;
    border-radius: 100px;
    padding: 3px 10px;
    font-size: 10pt;
    display: flex;
    width: fit-content;
}

.full-height {
    height: 100vh;
}

.drop-shadow {
    box-shadow: 0 25px 25px -5px rgb(133, 1, 25, 0.6);
}

.img-vert {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.bg-red {
    background-color: red;
}

.square-icon {
    background: #ff0000;
    width: 23px;
    height: 23px;
    text-align: center;
    padding: 0.2rem;
    line-height: 23px;
    vertical-align: middle;
    color: #000000;
}

.bg-img {
    background: url("../img/bg-red.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 300px;
}

ul li a {
    color: white;
}

ul li a:hover {
    color: red;
    text-decoration: none;
}

@media (max-width: 767px) {
    .section {
        height: auto;
        padding-top: 120px;
    }
}